@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Tahoma, Arial;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin scrollbar {
    /* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

}