:root {
  --primary: #FE9D2A;
  --primary-light: #ffcd91;

  /** Colors **/
  --white: #ffffff;
  --text: #324458;
  --border: #adadad;
  --gray: #aab5b9;
  --main-background: #ebebeb;
  --silver: #f5f6f7;

  /** Size **/
  --header-height: 90px;
  --font-title: 18px;
  --padding-size: 10px;
  --border-radius: 15px;
  --comment-container-heigh: 350px;
}